<! 
   Name: Yutaro Miyata
   Student Number: 8192340
   
   HTML code which displays a survey which features six different question types.
>
	
<!DOCTYPE html>
<html>
	<head>
		<link href="/assets/style.css" rel = "stylesheet" type="text/css">
		<title>YutaroMiy's Questionnaire</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>    
	</head>

	<body>
		<h1 onclick="printHi()">UI Evaluation Survey</h1>
		<br>
		<br>
		<h2>
			<a href="https://www.youtube.com">Click this Link to See the UI: </a>
		</h2>
		<br>
		<a href="https://www.youtube.com"><img src="/assets/YoutubeMainPage.JPG" alt="https://www.youtube.com" width="750" height="400"></a>
		<br>
		<h2>Note: Some of the videos featured may be different.</h2>
		<form>
			<div class="question">
				<h3> What do you like about this UI?</h3>
				<input type="text" name="wordAnswer" placeholder="Type Answer Here:">
				<br>
				<br>
				<h3>Is the layout easy to navigate?</h3>
				<div id="layoutNav">
                    <input type="radio" id="yes" name="layoutNav" value="Yes">
                    <label for="yes">Yes</label><br>
                    <input type="radio" id="no" name="layoutNav" value="No">
                    <label for="no">No</label><br>
                </div>
				<br>
				<br>
				<h3>Does the space for the videos take up too much space?</h3>
				<select name="tooMuchSpace">
					<option value="Yes">Yes</option>
					<option value="No">No</option>
				</select>
				<br>
				<br>
				<h3>What would you prefer the background color to be?</h3>
				<input type="checkbox" name="colorLayout" value="Black">Black<br>
				<input type="checkbox" name="colorLayout" value="White">White<br>
				<input type="checkbox" name="colorLayout" value="Gold">Gold<br>
				<br>
				<h3>Do you have any other comments about the display of this UI? Please type below:</h3>
				<textarea name="comments" rows="5" cols="90"></textarea>
				<br>
				<br>
				<h3>I would showcase this UI layout to a friend.</h3>
				<table style="width:90%">
					<tr>
						<th>Strongly Agree</th>
						<th>Agree</th>
						<th>Neutral</th>
						<th>Disagree</th>
						<th>Strongly Disagree</th>
					</tr>
					<tr>
						<td><input type="radio" value="Strongly Agree" name="recommend"/></td>
            					<td><input type="radio" value="Agree" name="recommend"/></td>
            					<td><input type="radio" value="Neutral" name="recommend"/></td>
            					<td><input type="radio" value="Disagree" name="recommend"/></td>
            					<td><input type="radio" value="Strongly Disagree" name="recommend"/></td>
					</tr>
				</table>
			</div>
			<button type="submit" class="btn btn-warning" id="bb">Submit Survey</button>
			<!-- <p id="signature">Website created by Yutaro Miyata</p> -->
		</form>
			<script src="/assets/action.js"></script>
	</body>
</html>
	