/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Bootstrap default font-family is Helvetica Neue */
h1 {
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 53px;
}

.wrap{
  display: flex;
  height: 150px;
}

.description{
	flex-grow: 1;
}

.image{
	margin-right: 50px;
}