body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center-btn {
	top: 15px;
	left: 50px;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.locations {
	padding: 60px;
}

.column-left {
	float: left;
	width: 50%;
	padding: 30px;
}

.column-right {
	float: left;
	width: 50%;
	padding: 30px;
}

.column-buttons {
	float: left;
	width: 50%;
	padding: 10px;
	
}

.paragraph {
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: auto;
}

.text-inputs {
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 80px;
	height: 300px;
}

.active {
	color: black;
}

.column-online-instructions {
	display: flex;

}	

.column-online-arrows {
	width: 10px;
}

.breadcrumbs-titles {
	flex-grow: 1;
	text-align: center;
}

.breadcrumbs-titles:hover {
	cursor: pointer;
}