/*
	Name: Yutaro Miyata;
	Student Number: 8912340;

	This file contains all the styling for the website GeartoGo.
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-words {
	color: #ffffff; 
	padding: 25px;
}

.nav-brand-color {
	color: #ffffff;
	padding-left: 50px; 
}

.nav-nav {
	display:flex;
}

.center-btn {
	top: 15px;
	left: 50px;
}

.center {
	text-align: center;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.locations {
	padding: 60px;
}

.column-left {
	float: left;
	width: 50%;
	padding: 30px;
}

.column-right {
	float: left;
	width: 50%;
	padding: 30px;
}

.column-buttons {
	float: left;
	width: 50%;
	padding: 10px;
	
}

.paragraph {
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: auto;
}

.text-inputs {
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 80px;
	height: 300px;
}

.active {
	color: black;
}

.column-online-instructions {
	display: flex;
}	

.breadcrumbs-titles {
	flex-grow: 1;
	text-align: center;
}

.container-display {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	border: 1px solid;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	overflow: auto;
}

.equipment {
	padding: 40px;
	height: 100%;
}

.button-bar {
	float: right;
}

.button-pos {
	padding: 15px;
}

.text-entry-words {
	float: left;
	width: 25%;
}
.text-entry-box {
	float: left;
	width: 75%;
}

.error-message {
	font-size: 12;
	color: #f00000;
}

.good-message {
	font-size: 12;
	color: #62d624;
}

.remove-item:hover {
	cursor: pointer;
}